@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Background */
body {
  background: linear-gradient(
    to right,
    #4c1d95,
    #3730a3
  ); /* Purple to Indigo gradient */
  color: white; /* Default text color */
  min-height: 100vh; /* Ensure the background covers the entire viewport */
}

/* Custom Glow Effect */
.glow-on-hover {
  position: relative;
  transition: all 0.3s ease;
}

.glow-on-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(192, 132, 252, 0.6),
    0 0 20px rgba(192, 132, 252, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.glow-on-hover:hover::before {
  opacity: 1;
}
